<% @folders.each do |folder| %>
    <div class="folder" data-folder-id="<%= folder.id -%>">
      <div class="folder-name">
        <span class="glyphicon glyphicon-folder-open"></span> <%= folder.name %>
      </div>
      <% folder.entries.each do |entry| %>
          <div class="folder-entry" data-entry-id="<%= entry.id -%>">
            <%= run_state_icon(entry.resource) -%> <%= link_to entry.resource.name, entry.resource %>
          </div>
      <% end %>
    </div>
<% end %>
