<% size ||= '' %>
<% float ||= 'pull-right' %>

<div class="btn-group <%= size -%> <%= float -%>">
  <%= link_to taverna_player.new_run_path(:workflow_id => workflow.id), :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-play"></span> Run
  <% end %>

  <%= link_to download_workflow_path(workflow), :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-download"></span> Download
  <% end %>

  <% if workflow.user == current_user %>
      <%= link_to edit_workflow_path(workflow), :class => 'btn btn-default' do %>
          <span class="glyphicon glyphicon-wrench"></span> Manage
      <% end %>
  <% end %>
</div>