<div class="page-header">
  <h1>Workflows</h1>
</div>

<div class="clearfix">
  <%= link_to new_workflow_path, :class => 'btn btn-success pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span> New Workflow
  <% end %>
</div>

<% @workflows.each do |workflow| %>
    <div class="media">
      <a class="pull-left" href="#">
        <%= image_tag workflow.diagram.url(:thumb), :class => 'media-object', :alt => 'Workflow diagram' -%>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to workflow.title, workflow -%>
          <%= render 'buttons', :workflow => workflow, :size => 'btn-group-sm' %>
        </h4>
        <p>
          <%= truncate(workflow.description, :length => 400, :separator => ' ') -%>
        </p>
      </div>
    </div>
<% end %>

<br>
