<div class="page-header">
  <h1>Workflows</h1>
</div>

<div class="clearfix">
  <%= link_to new_workflow_path, :class => 'btn btn-success pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span> New Workflow
  <% end %>
</div>

<% @workflows.each do |workflow| %>
    <div class="media separated">
      <%= link_to workflow, :class => 'pull-left' do %>
          <%= image_tag workflow.diagram.url(:thumb), :class => 'media-object', :alt => 'Workflow diagram' -%>
      <% end %>
      <div class="media-body">
        <div class="row">
          <div class="col-md-8">
            <h4 class="media-heading">
              <%= link_to workflow.title, workflow -%>
            </h4>
          </div>
          <div class="col-md-4 text-right">
            <%= render 'buttons', :workflow => workflow, :size => 'btn-group-sm', :float => '' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
              <%= truncate(workflow.description, :length => 400, :separator => ' ') -%>
            </p>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% if @workflows.empty? %>
    <span class="text-muted">
      No workflows found.
    </span>
<% end %>

<div class="text-center">
  <%= paginate @workflows %>
</div>
