<div class="page-header">
  <h1>
    <%= @workflow.title -%>
  </h1>
</div>

<div class="text-right">
  <%= render 'buttons', :workflow => @workflow %>
</div>

<br/>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p>
        <%= simple_format auto_link(@workflow.description) -%>
      </p>
      <p class="text-info">
        Uploaded by <%= @workflow.user.name -%> <%= time_ago_in_words(@workflow.created_at) -%> ago
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <h3>Inputs</h3>
      <dl class="dl-horizontal">
        <% @workflow.input_ports.each do |input_port| %>
        <dt title="<%= input_port.name %>"><%= input_port.name %></dt>
        <dd>
          <% if input_port.description %>
              <%= simple_format input_port.description %>
          <% else %>
            <span class="muted">No description</span>
          <% end %>
        </dd>
        <% end %>
      </dl>

      <h3>Outputs</h3>
      <dl class="dl-horizontal">
        <% @workflow.output_ports.each do |output_port| %>
        <dt title="<%= output_port.name %>"><%= output_port.name %></dt>
        <dd>
          <% if output_port.description %>
              <%= simple_format output_port.description %>
          <% else %>
            <span class="muted">No description</span>
          <% end %>
        </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>
