<%
   # Copyright (c) 2013 The University of Manchester, UK.
   #
   # BSD Licenced. See LICENCE.rdoc for details.
   #
   # Taverna Player was developed in the BioVeL project, funded by the European
   # Commission 7th Framework Programme (FP7), through grant agreement
   # number 283359.
   #
   # Author: Robert Haines
%>

<div class="page-header">
  <h1>Runs</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <colgroup>
      <col span="1" style="width: 46%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 18%;">
      <col span="1" style="width: 18%;">
      <col span="1" style="width: 3%;">
    </colgroup>
    <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Create time</th>
      <th>Finish time</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @runs.each do |run| %>
        <tr>
          <td>
            <%= run_state_icon(run) -%> <%= link_to run.name, run %><br/>
            <%= link_to run.workflow.title, main_app.workflow_path(run.workflow), :class => 'muted' %>
          </td>
          <td class="vert-middle"><%= run.user ? run.user.name : 'Guest' -%></td>
          <td class="vert-middle"><%= run.create_time %></td>
          <td class="vert-middle"><%= run.finish_time %></td>
          <td class="vert-middle"><%= render "button", :run => run %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
