<%
   # Copyright (c) 2013 The University of Manchester, UK.
   #
   # BSD Licenced. See LICENCE.rdoc for details.
   #
   # Taverna Player was developed in the BioVeL project, funded by the European
   # Commission 7th Framework Programme (FP7), through grant agreement
   # number 283359.
   #
   # Author: Robert Haines
%>

<div class="page-header">
  <h1>Runs</h1>
</div>

<% @runs.each do |run| %>
    <div class="row separated">
      <div class="col-xs-12 col-md-5 ellipsis-overflow">
        <%= run_state_icon(run) -%> <%= link_to run.name, run %><br/>
        <%= link_to run.workflow.title, main_app.workflow_path(run.workflow), :class => 'muted' %>
      </div>
      <div class="col-xs-6 col-md-2 ellipsis-overflow" title="<%= run.user ? run.user.name : 'Guest' -%>"><%= run.user ? run.user.name : 'Guest' -%></div>
      <div class="col-xs-6 col-md-2 ellipsis-overflow text-right" title="<%= time_ago_in_words run.created_at %> ago"><%= time_ago_in_words run.created_at %> ago</div>
      <div class="col-xs-12 col-md-3"><%= render "buttons", :run => run, :size => 'btn-group-xs', :show_all_labels => false %></div>
    </div>
<% end %>

<div class="text-center">
  <%= paginate @runs %>
</div>
