<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<div class="page-header">
  <h1>Runs</h1>
</div>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Create time</th>
    <th>Start time</th>
    <th>Finish time</th>
    <th></th>
  </tr>

<% @runs.each do |run| %>
  <tr>
    <td><%= link_to run.name, run %></td>
    <td><%= run_state_icon(run) -%></td>
    <td><%= run.create_time %></td>
    <td><%= run.start_time %></td>
    <td><%= run.finish_time %></td>
    <td><%= render "button", :run => run %></td>
  </tr>
<% end %>
</table>
