<!DOCTYPE html>
<html>
<head>
  <title>Workflow Portal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container">

  <% if notice %><div class="alert alert-success"><%= notice %></div><% end %>
  <% if alert %><div class="alert alert-danger"><%= alert %></div><% end %>

  <%= yield %>

</div> <!-- /container -->

</body>
</html>
